@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BaiTapLonDuAnMau.Models.RoomViewModel

@{
    ViewData["Title"] = "Edit";
}
@{

}
<h1>Edit</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EmployeeEdit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
              
                <input type="hidden" asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="RoomType" class="form-control" />
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="Bed" class="form-control"  />
                <span asp-validation-for="Bed" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="Bath" class="form-control" />
                <span asp-validation-for="Bath" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input  type="hidden" asp-for="Wifi" class="form-control" />
                <span asp-validation-for="Wifi" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input type="hidden" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div  class="form-group">
                
                <input type="hidden" asp-for="Stars" class="form-control" />
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <select asp-for="Status" class="form-control">
                    <option value="">Chọn trạng thái</option>
                    <option value="Trống">Trống</option>
                    <option value="Đang sửa chữa">Đang bảo trì</option>
                    <option value="Đang dùng">Đang dùng</option>
                    <option value="Đang dùng">Đã đặt-Chờ xác nhận</option>
                    <option value="Đang dùng">Đã duyệt-Chờ nhận phòng</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                

                <input type="hidden" asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input type="hidden" asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="FloorNumber" class="form-control" />
                <span asp-validation-for="FloorNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
