<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id ="title"><h1>Products</h1></div>
      <div id="products"></div>
    </div> -->
    <!-- Script -->
    <script src="index.js"></script>
  </body>
</html>